.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    margin: 8px;
}

.post-header .user {
    display: flex;
    align-items: center;
}

.post-header img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-header .icon {
    font-size: 18px;
    padding: 8px;
}
