.app {
    background-color: #fafafa;
    overflow-y: scroll;
    height: 100vh;
}

.app .content {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app .content .loading {
    margin: 15px 0;
}
